<div id="key-lookup">
  {{t 'acceptance_tests.key_lookup'}}
</div>

<div id="simple-interpolation">
  {{t 'acceptance_tests.simple_interpolation' adjective='simple'}}
</div>

<div id="bound-interpolation">
  {{t 'acceptance_tests.bound_interpolation' adjective=adjective}}
</div>
<button id="change-bound-interpolation" {{action 'changeAdjective'}}>Change</button>
